@media (min-device-width:280px){
    @media (min-width:992px) {
        body{
            background: linear-gradient(0deg, rgba(255,239,214,1) 0%, rgba(254,215,156,1) 50%, rgba(255,239,214,1) 100%);
            color: rgb(139, 69, 19);
            width: 70%;
            align-self: center;
            margin-left: 15%;
            min-width: 500px;
        }
        ul{
            list-style-image: url("../img/kispaprika.png");
        }
        li{
            border: 1px rgb(40, 176, 255) solid;
            box-shadow: -3px -3px 0px 0px rgba(0,0,0,0.75) inset;
            background-color: white;
            padding: 5px;
            margin-bottom: 10px;
            width: 170px;
            text-align: center;
        }
        li:hover{
            box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75) inset;
        }
        #fejlec{
            background-image: url("../img/fejlec.png");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100px;
            padding-top: 25px;
            padding-left: 20px;
            color: rgb(231, 140, 75);
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
        }
        a{
            color: black;
        }
        #menu{
        Padding-right: 10px;
        margin: 1%;
        }
        .kzp{
            text-align: center;
            width: 120px;
        }
        table, th{
            border: 1px solid black;
            border-collapse: collapse;
            width: 300px;
            background-color: rgb(255,239,214);
            color: rgb(231, 140, 75);
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        }
        #cs1{
            background-color: rgb(124, 252, 0);
        }
        #cs2{
            background-color: rgb(255, 255, 224);
        }
        #cs3{
            background-color: rgb(240, 128, 128);
        }
        #cs4{
            background-color: rgb(207, 97, 252);
        }
        #tartalom{
            margin: 1%;
            float: right;
        }
        .kisk {
            display: none;
        }
        .nagyk {
            display: block;
        }
        .tkk{
            display: none;
        }
        .okk{
            display: none;
        }
        
    }
    @media (max-width:991px) and (min-width:769px) {
        body{
            background: linear-gradient(0deg, rgba(255,239,214,1) 0%, rgba(254,215,156,1) 50%, rgba(255,239,214,1) 100%);
            color: saddlebrown;
            width: 80%;
            align-self: center;
            margin-left: 10%;
            min-width: 500px;
        }
        ul{
            list-style-image: url("../img/kispaprika.png");
        }
        li{
            border: 1px rgb(40, 176, 255) solid;
            box-shadow: -3px -3px 0px 0px rgba(0,0,0,0.75) inset;
            background-color: white;
            padding: 5px;
            margin-bottom: 10px;
            width: 170px;
        }
        li:hover{
            box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75) inset;
        }
        #fejlec{
            background-image: url("../img/fejlec.png");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100px;
            padding-top: 25px;
            padding-left: 20px;
            color: rgb(231, 140, 75);
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
        }
        a{
            color: black;
        }
        #menu{
        Padding-right: 10px;
        margin: 1%;
        }
        .kzp{
            text-align: center;
            width: 120px;
        }
        table, th{
            border: 1px solid black;
            border-collapse: collapse;
            width: 300px;
            background-color: rgb(255,239,214);
        }
        #cs1{
            background-color: rgb(124, 252, 0);
        }
        #cs2{
            background-color: rgb(255, 255, 224);
        }
        #cs3{
            background-color: rgb(240, 128, 128);
        }
        #cs4{
            background-color: rgb(207, 97, 252);
        }
        #tartalom{
            margin: 1%;
            float: right;
        }
        .kisk {
            display: none;
        }
        .nagyk {
            display: block;
        }
        .tkk{
            display: none;
        }
        .okk{
            display: none;
        }
    }
    @media (max-width:768px) {
        body{
            background: linear-gradient(0deg, rgba(255,239,214,1) 0%, rgba(254,215,156,1) 50%, rgba(255,239,214,1) 100%);
            color: saddlebrown;
            align-self: center;
        }
        ul{
            list-style-image: url("../img/kispaprika.png");
        }
        li{
            border: 1px rgb(40, 176, 255) solid;
            box-shadow: -3px -3px 0px 0px rgba(0,0,0,0.75) inset;
            background-color: white;
            padding: 5px;
            padding-bottom: 15px;
            margin-bottom: 5px;
            width: 70%;
        }
        li:hover{
            box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75) inset;
        }
        #fejlec{
            background-image: url("../img/fejlec.png");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100px;
            padding-top: 25px;
            padding-left: 17%;
            color: rgb(231, 140, 75);
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
        }
        a{
            color: black;
        }
        #menu{
        padding-left: 15%;
        }
        .kzp{
            text-align: center;
            width: 120px;
        }
        table, th{
            border: 1px solid black;
            border-collapse: collapse;
            width: 50%;
            background-color: rgb(255,239,214);
        }
        #cs1{
            background-color: rgb(124, 252, 0);
        }
        #cs2{
            background-color: rgb(255, 255, 224);
        }
        #cs3{
            background-color: rgb(240, 128, 128);
        }
        #cs4{
            background-color: rgb(207, 97, 252);
        }
        #tartalom{
            margin: 5%;
            float: left;
            width: 90%;
        }
        
        .kisk {
            display: block;
        }
        .nagyk {
            display: none;
        }
        .tkk{
            display: none;
        }
        .okk{
            display: none;
        }
    }
}
@media (max-width:280px) and (min-width:192px){
    body{
        background: linear-gradient(0deg, rgba(255,239,214,1) 0%, rgba(254,215,156,1) 50%, rgba(255,239,214,1) 100%);
        color: saddlebrown;
        align-self: center;
        width: 110%;
    }
    ul{
        list-style-image: url("../img/kispaprika.png");
    }
    li{
        border: 1px rgb(40, 176, 255) solid;
        box-shadow: -3px -3px 0px 0px rgba(0,0,0,0.75) inset;
        background-color: white;
        padding: 5px;
        padding-bottom: 15px;
        margin-bottom: 5px;
        width: 70%;
    }
    li:hover{
        box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75) inset;
    }
    #fejlec{
        background-image: url("../img/fejlec.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
        padding-top: 20px;
        padding-left: 7%;
        color: whitesmoke;
    }
    a{
        color: black;
    }
    #menu{
    padding-left: 15%;
    }
    .kzp{
        text-align: center;
        width: 120px;
    }
    table, th{
        border: 1px solid black;
        border-collapse: collapse;
        width: 50%;
    }
    #cs1{
        background-color: rgb(124, 252, 0);
    }
    #cs2{
        background-color: rgb(255, 255, 224);
    }
    #cs3{
        background-color: rgb(240, 128, 128);
    }
    #cs4{
        background-color: rgb(207, 97, 252);
    }
    #tartalom{
        margin: 2%;
        float: left;
        width: 96%;
    }
    
    .kisk {
        display: none;
    }
    .nagyk {
        display: none;
    }
    .tkk{
        display: none;
    }
    .okk{
        display: block;
    }
}
@media (max-device-width:191px) {
    .kisk {
        display: none;
    }
    .nagyk {
        display: none;
    }
    .okk{
        display: none;
    }
    .tkk{
        display: block;
    }
    body{
        background-color: papayawhip;
        color: saddlebrown;
        align-self: center;
        width: 93%;
    }
    #problemo{
        width: 60%;
        height: auto;
        margin-left: 19%;
    }
    p{
        text-align: center;
        width: 90%;
        margin-left: 5%;
    }
    header{
        text-align: center;
        background-color: rgb(206, 189, 163);
    }
}
p {
    text-align: justify;
    width: 90%;
}