@media (min-device-width:280px){
    @media (min-width:992px) {
        body{
            background-color: papayawhip;
            color: saddlebrown;
            width: 70%;
            align-self: center;
            margin-left: 15%;
            min-width: 500px;
        }
        ul{
            list-style-image: url("../img/kispaprika.png");
        }
        li{
            border: 1px rgb(40, 176, 255) solid;
            background-color: white;
            padding: 5px;
            margin-bottom: 10px;
            width: 170px;
        }
        #fejlec{
            background-image: url("../img/fejlec.png");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100px;
            padding-top: 25px;
            padding-left: 20px;
        }
        a{
            color: black;
        }
        #menu{
        Padding-right: 10px;
        margin: 1%;
        }
        .kzp{
            text-align: center;
            width: 120px;
        }
        table, th{
            border: 1px solid black;
            border-collapse: collapse;
            width: 300px;
        }
        #cs1{
            background-color: rgb(124, 252, 0);
        }
        #cs2{
            background-color: rgb(255, 255, 224);
        }
        #cs3{
            background-color: rgb(240, 128, 128);
        }
        #cs4{
            background-color: rgb(207, 97, 252);
        }
        #tartalom{
            margin: 1%;
            float: right;
        }
        .kisk {
            display: none;
        }
        .nagyk {
            display: block;
        }
        .tkk{
            display: none;
        }
        .okk{
            display: none;
        }
        
    }
    @media (max-width:991px) and (min-width:769px) {
        body{
            background-color: papayawhip;
            color: saddlebrown;
            width: 80%;
            align-self: center;
            margin-left: 10%;
            min-width: 500px;
        }
        ul{
            list-style-image: url("../img/kispaprika.png");
        }
        li{
            border: 1px rgb(40, 176, 255) solid;
            background-color: white;
            padding: 5px;
            margin-bottom: 10px;
            width: 170px;
        }
        #fejlec{
            background-image: url("../img/fejlec.png");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100px;
            padding-top: 25px;
            padding-left: 20px;
        }
        a{
            color: black;
        }
        #menu{
        Padding-right: 10px;
        margin: 1%;
        }
        .kzp{
            text-align: center;
            width: 120px;
        }
        table, th{
            border: 1px solid black;
            border-collapse: collapse;
            width: 300px;
        }
        #cs1{
            background-color: rgb(124, 252, 0);
        }
        #cs2{
            background-color: rgb(255, 255, 224);
        }
        #cs3{
            background-color: rgb(240, 128, 128);
        }
        #cs4{
            background-color: rgb(207, 97, 252);
        }
        #tartalom{
            margin: 1%;
            float: right;
        }
        .kisk {
            display: none;
        }
        .nagyk {
            display: block;
        }
        .tkk{
            display: none;
        }
        .okk{
            display: none;
        }
    }
    @media (max-width:768px) {
        body{
            background-color: papayawhip;
            color: saddlebrown;
            align-self: center;
        }
        ul{
            list-style-image: url("../img/kispaprika.png");
        }
        li{
            border: 1px rgb(40, 176, 255) solid;
            background-color: white;
            padding: 5px;
            padding-bottom: 15px;
            margin-bottom: 5px;
            width: 70%;
        }
        #fejlec{
            background-image: url("../img/fejlec.png");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100px;
            padding-top: 25px;
            padding-left: 17%;
        }
        a{
            color: black;
        }
        #menu{
        padding-left: 15%;
        }
        .kzp{
            text-align: center;
            width: 120px;
        }
        table, th{
            border: 1px solid black;
            border-collapse: collapse;
            width: 50%;
        }
        #cs1{
            background-color: rgb(124, 252, 0);
        }
        #cs2{
            background-color: rgb(255, 255, 224);
        }
        #cs3{
            background-color: rgb(240, 128, 128);
        }
        #cs4{
            background-color: rgb(207, 97, 252);
        }
        #tartalom{
            margin: 5%;
            float: left;
            width: 90%;
        }
        
        .kisk {
            display: block;
        }
        .nagyk {
            display: none;
        }
        .tkk{
            display: none;
        }
        .okk{
            display: none;
        }
    }
}
@media (max-width:280px) and (min-width:192px){
    .kisk {
        display: none;
    }
    .nagyk {
        display: none;
    }
    .tkk{
        display: none;
    }
    .okk{
        display: block;
    }
    body{
        background-color: papayawhip;
        color: saddlebrown;
        align-self: center;
    }
    #fejlec{
        background-image: url("../img/fejlec.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
        padding-top: 20px;
        padding-left: 5%;
        width: 110%;
        color: white;
    }
    a{
        color: black;
    }
    #menu{
    padding-left: 15%;
    }
    .kzp{
        text-align: center;
        width: 120px;
    }
    table, th{
        border: 1px solid black;
        border-collapse: collapse;
        width: 50%;
    }
    #cs1{
        background-color: rgb(124, 252, 0);
    }
    #cs2{
        background-color: rgb(255, 255, 224);
    }
    #cs3{
        background-color: rgb(240, 128, 128);
    }
    #cs4{
        background-color: rgb(207, 97, 252);
    }
    #tartalom{
        margin: 2.5%;
        float: left;
        width: 95%;
    }
    .topnav {
        width: 110%;
      }
}
@media (max-device-width:191px) {
    .kisk {
        display: none;
    }
    .nagyk {
        display: none;
    }
    .okk{
        display: none;
    }
    .tkk{
        display: block;
    }
    body{
        background-color: papayawhip;
        color: saddlebrown;
        align-self: center;
    }
    #problemo{
        width: 60%;
        height: auto;
        margin-left: 19%;
    }
    p{
        text-align: center;
    }
    header{
        text-align: center;
        background-color: rgb(206, 189, 163);
    }
}
